{{ template "header" }}
    Title: {{printf "%s" .title}} <br>
    Description: {{printf "%s" .description}} <br>
    
    <form method="POST">
    {{ range $name, $q := .questions }}
        {{ if eq .htmlType "text" }}
            Frage: {{printf "%s" $q.question}} <br>
            <input type="text" name="{{ printf "%s" $name}}"/>  <br>
        {{ else }}
            Frage: {{printf "%s" $q.question}} <br>
            <textarea name="{{ printf "%s" $name }}"></textarea> <br>
        {{ end }}
    {{ end }}

    <input type="submit" value="Abschicken"/>
    </form>


{{ template "footer" }}
